extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const currentUrl = "map-3.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const hasMap = true

block main
  main
    section.ya-map
      .container
        h1.ya-map__title.title Задание по карте №3
        h2 Техническое задание
        p Реализовать карту через API Яндекс карт
        p Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами
        p На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться. Масштабировать ее можно только при нажатии клавиши Ctrl + колесико мышки. Если пользователь навел курсор на карту и начинает скролить мышкой, то на карте должен появиться overlay с инструкцией, что для того что бы масштабировать карту нажмите Ctrl + колесико мышки
        p Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином
        p Создать блок с фильтрами под картой и при клике на каждый элемент фильтра настроить фильтрацию пинов на карте в зависимости от выбранного фильтра
        p Если выбран изначально фильтр "Все объекты" и открыт у кого нибудь пина баллун, то при активации фильтра этого пина у которого открыт баллун, карта должна отфильтроваться, но баллун не должен закрываться. Если у пина открыт баллун и мы выбираем другой фильтр, то баллун должен закрыться
        .ya-map__inner
          .ya-map__map(data-map="map-3" data-center="59.968513, 30.317772" data-zoom="15" data-markers-url="data/maps-markers.json")
          .ya-map__message
            p Зажмите ctrl и крутите колесо прокрутки мышки, что бы приблизить карту

        + map-filter()

block modals
