-
  const cards = [
    {
      href: '#menu',
      moveTo: '#menu',
      title: 'Меню'
    },
    {
      href: '#loader',
      moveTo: '#loader',
      title: 'Лоадер'
    },
    {
      href: '#modal',
      moveTo: '#modal',
      title: 'Сборка<br>первого экрана'
    },
    {
      href: '#modal',
      moveTo: '#modal',
      title: 'Появление блоков'
    },
    {
      href: '#modal',
      moveTo: '#modal',
      title: 'Параллакс'
    },
    {
      href: '#scroll-slider',
      moveTo: '#scroll-slider',
      title: 'Слайдер<br>по скроллу',
      offset: '-1'
    },
  ]
mixin intro()
  // <sections class="intro is-shown" data-animate="intro" data-section-animation="" data-start="top top" data-end="bottom top">
  section.intro(data-animate="intro" data-section-animation="" data-start="top top" data-end="bottom top")
    .intro__sticky
      .container(data-animation-direction="to")
        .intro__heading
          //words lines splitting
          h1.intro__title.title(data-splitting) Задачки<br>на прокачку
          p.intro__description(data-splitting) Задачи на&nbsp;интерфейсную логику,<br>которые часто встречаются<br>на&nbsp;реальных проектах

        //<div class="intro__cards" data-animation="scale: 0.7" data-animation-direction="to" data-position="0" style="translate: none; rotate: none; scale: none; transform: translate3d(0px, 0px, 0px) scale(0.9533, 0.9533);">
        .intro__cards(data-animation="scale: 0.7" data-animation-direction="to" data-position="0")
          each card in cards
            if card.offset
              a.card-simple(href= card.href data-move-to= card.moveTo data-offset= card.offset)
                h2.card-simle__title.title.title--h3!= card.title
            else
              a.card-simple(href= card.href data-move-to= card.moveTo)
                h2.card-simle__title.title.title--h3!= card.title
      .intro__bg
        video(src="video/background-wave.mp4" alt="waaaavee" autoplay="true" muted="true" loop="" playsinline="")

    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    //.container
      //p(style="margin-top: 40px;") Текст&nbsp;с&nbsp;мнемониками
      //
      //p(style="margin-top: 40px;") Пример использования +img()
      //p(style="margin-bottom: 40px;")
      //  +img("content", "placeholder", "png", 120, 120, "Пример")
